{ :in 
  "text"            
                
  :head
  "resources/head.html"
  
  :header
  "resources/header.html"
  
  :footer
  "resources/footer.html"
  
  :out
  "public"
 
  :globals
  {:title "🟡 Лимонадный завод Макса"}
 
 }